<% if (user_signed_in?)and((current_user.adm == true)||(current_user == @evento.user)) %>
<h1>Editing Evento</h1>

<%= render 'form', evento: @evento %>

<%= link_to 'Show', @evento %> |
<%= link_to 'Back', eventos_path %>
<%end%>