<p id="notice"><%= notice %></p>

<p>
  <strong>Classe:</strong>
  <%= @classes_evento.classe %>
</p>

<%= link_to 'Edit', edit_classes_evento_path(@classes_evento) %> |
<%= link_to 'Back', classes_eventos_path %>
