/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    background-color: antiquewhite;
    width: 100vw;
    height: auto;
    padding-left: 20px;
}

header > a{
    color: snow;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header > a:link{
    background-color: transparent;
}


header > a >img{
    height: auto;
    max-height: 5vh;
    width: 100%;
    object-fit: contain;
}

body{
    font-family: 'Quattrocento', serif;
    background-color: white;
    padding: 0;
}

main{
    padding: 20px;
}

p{
    font-family: 'Quattrocento', serif;
}

