/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

::selection {
  background: seashell; /* WebKit/Blink Browsers */
}

header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    background-color: antiquewhite;
    width: 100vw;
    height: 7vh;
    padding-left: 20px;
    position: fixed;
    top:0;
    overflow: hidden;
}


header > a{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a{
    color: salmon;
    text-decoration: none;
}

a:link{
    background-color: transparent;
    color: rosybrown;
}

a:visited{
    color: mediumvioletred;
}

a:hover{
    color: navajowhite;
    text-decoration: none;
    background-color: transparent
}

.logo > a >img{
    height: 3vh;
    width: auto;
    object-fit: contain;
    object-position: left;
}

body{

    font-family: 'Quattrocento', serif;
    background-color: white;
    padding: 0;
}

main{
    min-height: 89vh;
    padding: 16px;
    margin-top:7vh;
}

main > tbody{
    display: flex;
}

p{
    font-family: 'Quattrocento', serif;
}

footer{
    color: #a00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    position: static;
    bottom: 0;
    height: auto;
    margin-bottom: 0;
}

.opcoes{
    display: flex;
    flex-direction: row;

}

.opcoes > a{
    margin-left: 5px;
    margin-right: 5px;
    color: #a00;
}

.form-inputs{
    width: 50%;
}

.form-actions{
    display: flex;
    flex-direction: row;
}